In [ ]:
# pip install pandas

In [68]:
import pandas as pd
from datetime import datetime

In [182]:
# Dados de exemplo
dados = {
    'grupo': ['A', 'B', 'C', 'D', 'E'],
    'solicitante': ['João', 'Camila', 'Maria', 'Carlos', 'Joana'],
    'data_de_liberacao': ['2024-01-15', '2024-05-20', '2024-05-03', '2024-06-01', '2024-07-25'],
    'status': ['Em Uso', None, 'Em Uso', 'Em Uso', None]
}

# Função para calcular a diferença em meses
def calcular_tempo(data_liberacao):
    data_liberacao = datetime.strptime(data_liberacao, '%Y-%m-%d')
    data_atual = datetime.now()
    diferenca = (data_atual.year - data_liberacao.year) * 12 + data_atual.month - data_liberacao.month
    return diferenca

# Adicionando a coluna 'tempo'
dados['tempo'] = [calcular_tempo(data) for data in dados['data_de_liberacao']]

# Criando o DataFrame
df = pd.DataFrame(dados)

# Exibindo o DataFrame
print(df)

  grupo solicitante data_de_liberacao  status  tempo
0     A        João        2024-01-15  Em Uso      7
1     B      Camila        2024-05-20    None      3
2     C       Maria        2024-05-03  Em Uso      3
3     D      Carlos        2024-06-01  Em Uso      2
4     E       Joana        2024-07-25    None      1

In [185]:
def grupo_disponivel(df):
    available_groups = df[(df['solicitante'].isnull() | df['status'].isnull()) | (df['tempo'] >= 2) & (df['grupo'].isnull())]['grupo'].values
    if len(available_groups) > 0:
        return available_groups[0]
    return None

grupo_disponivel(df)

'B'

In [184]:
df

  grupo solicitante data_de_liberacao  status  tempo
0     A        João        2024-01-15  Em Uso      7
1     B      Camila        2024-05-20    None      3
2     C       Maria        2024-05-03  Em Uso      3
3     D      Carlos        2024-06-01  Em Uso      2
4     E       Joana        2024-07-25    None      1

In [186]:
def recalcular_tempo():
    df['tempo'] = df['data_de_liberacao'].apply(calcular_tempo)

In [187]:
df

  grupo solicitante data_de_liberacao  status  tempo
0     A        João        2024-01-15  Em Uso      7
1     B      Camila        2024-05-20    None      3
2     C       Maria        2024-05-03  Em Uso      3
3     D      Carlos        2024-06-01  Em Uso      2
4     E       Joana        2024-07-25    None      1

In [188]:
def upload_dados_novo():
    datalab = grupo_disponivel() 

    index = df[df['grupo'] == datalab].index[0]

    # Atualizar as colunas para as linhas que atendem às condições
    df.at[index, 'solicitante'] = 'Jucicleide'
    df.at[index, 'data_de_liberacao'] = '2024-08-08'

In [189]:
df

  grupo solicitante data_de_liberacao  status  tempo
0     A        João        2024-01-15  Em Uso      7
1     B      Camila        2024-05-20    None      3
2     C       Maria        2024-05-03  Em Uso      3
3     D      Carlos        2024-06-01  Em Uso      2
4     E       Joana        2024-07-25    None      1

In [202]:
def validar_grupo(df, grupo):

    grupo = grupo_disponivel(df)
    
    if df.loc[df['grupo'] == grupo, 'solicitante'].values[0]:
        if df.loc[df['grupo'] == grupo, 'tempo'].values[0] > 2:
            df.loc[df['grupo'] == grupo, 'status'] = 'Em Uso'
            return False
    else:
        upload_dados_novo()
        recalcular_tempo()
        return True

In [211]:
df

  grupo solicitante data_de_liberacao  status  tempo
0     A        João        2024-01-15  Em Uso      7
1     B      Camila        2024-05-20  Em Uso      3
2     C       Maria        2024-05-03  Em Uso      3
3     D      Carlos        2024-06-01  Em Uso      2
4     E       Joana        2024-07-25    None      1

In [210]:
def encontrar_grupo_disponivel(df):
    for grupo in df['grupo']:
        if validar_grupo(df, grupo):
            return grupo
    return None

# Exemplo de uso
encontrar_grupo_disponivel(df)

In [146]:
def existeGrupo():
    if not df.empty:
        grupo_datalab = encontrar_grupo_disponivel(df)
        if grupo_datalab:
            comments = f"O grupo {grupo_datalab} foi liberado para uso do usuário, por favor, seguir a documentação:\n    teste.com.br"
            print(comments)
        else:
            print("Nenhum grupo disponível foi encontrado.")
    else:
        print("O DataFrame está vazio.")

existeGrupo()

IndexError: index 0 is out of bounds for axis 0 with size 0

In [147]:
df

  grupo solicitante data_de_liberacao  status  tempo
0     A        João        2024-01-15  Em Uso      7
1     B      Camila        2024-08-08    None      0
2     C       Maria        2024-05-03  Em Uso      3
3     D      Carlos        2024-06-01  Em Uso      2
4     E                    2024-07-25    None      1